body{

margin:0;
font-family:Arial;
background:#0f172a;
color:white;

}

nav{

display:flex;
justify-content:space-between;
padding:20px 60px;
background:#020617;

}

nav ul{

display:flex;
gap:20px;
list-style:none;

}

nav a{

color:white;
text-decoration:none;

}

.hero{

height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#6366f1,#06b6d4);
text-align:center;

}

.hero h1{

font-size:50px;

}

.typing{

color:yellow;
font-size:30px;

}

section{

padding:80px;
max-width:1000px;
margin:auto;

}

.grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;

}

.card{

background:#1e293b;
padding:20px;
border-radius:10px;
transition:0.3s;
text-align:center;

}

.card:hover{

transform:translateY(-10px);
background:#334155;

}

.hidden{

opacity:0;
transform:translateY(50px);
transition:all 0.8s;

}

.show{

opacity:1;
transform:translateY(0);

}
