body{

margin:0;
font-family:Arial;
background:#0f172a;
color:white;

}

nav{

display:flex;
justify-content:space-between;
padding:20px 60px;
background:#020617;

}

nav ul{

display:flex;
gap:20px;
list-style:none;

}

nav a{

color:white;
text-decoration:none;

}

.hero{

height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(135deg,#6366f1,#06b6d4);

}

.hero h1{

font-size:50px;

}

.hero span{

color:yellow;

}

.btn{

background:white;
color:black;
padding:10px 20px;
text-decoration:none;
border-radius:5px;

}

section{

padding:80px;

}

.grid{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;

}

.card{

background:#1e293b;
padding:20px;
border-radius:10px;
transition:0.3s;

}

.card:hover{

transform:translateY(-10px);

}

ul li{

margin:10px 0;

}
